body {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/*----MAIN----*/

  main {
    width: 100%;
    height: 87%;
    /*background-color: #b03532;*/
    display: grid;
    grid-template-columns: 5% auto 25% 5%;
  }

/*----MAIN VIEW----*/

  .main-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .main-image-holder{
    /*margin-top: 5%;*/
    align-self: flex-start;
  }

  .main-text-holder h1{
    margin: 5px 0 5px 0;
    color: #004E89;
  }

  .main-text-holder p{
    margin: 2px 0 2px 0;
    color: #004E89;
  }

  .main-text-holder a{
    text-decoration: none;
    color: #004E89;
    transition: color .1s;
  }

  .main-text-holder a:hover{
    text-decoration: none;
    color: #EA9010;
    transition: color .2s;
  }

/*----MAIN SIDEBAR----*/

  .main-sidebar{
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  .sidebar-project{
    margin: 20px 0 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: color .1s;
    cursor: pointer;
  }

  .sidebar-project:hover h1{
    color: #EA9010;
    transition: color .2s;
  }

  .sidebar-project h1 {
    font-weight: 900;
    margin: 0;
    font-size: 2em;
    color: #004E89;
  }

  .sidebar-project:hover p{
    color: #EA9010;
    transition: color .2s;
  }

  .sidebar-project p {
    font-weight: 200;
    margin: 0;
    font-size: 1em;
    color: #004E89;
  }

/*----NAV BAR----*/

  nav {
    width: 100%;
    height: 13%;
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav h2 {
    font-size: 2.5em;
    font-weight: 900;
  }

  nav > h2 {
    margin-left: 5%;
    color: #004E89;
    transition: color .2s;
    cursor: pointer;
  }

  nav > h2:hover {
    color: #EA9010;
    transition: color .1s;
    cursor: pointer;
  }

  nav div {
    margin-right: 5%;
    display: flex;
  }

  nav div h2:first-child{
    color: #004E89;
    transition: color .1s;
  }

  nav div h2:first-child:hover{
    color: #EA9010;
    cursor: pointer;
    transition: color .2s;
  }

  nav div h2:nth-child(2){
    color: #EA9010;
  }

  nav div h2:last-child {
    color: #004E89;
    transition: color .1s;
  }

  nav div h2:last-child:hover {
    color: #EA9010;
    cursor: pointer;
    transition: color .2s;
  }
