.app-main {
  height: 100%;
  margin: 0 19.098% 0 19.098%;
}

.element {
  height: 100%;
  display: flex;
  align-items: center;
}

.element-start {
  margin-bottom: 150px;
  display: flex;
  align-items: flex-start;
}

.element-end {
  margin-bottom: 25%;
  display: flex;
  align-items: flex-start;
}
