.flex {
  display: flex
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}


.flex-start {
  flex-direction: column;
  align-content: flex-start;
}

.content-container p {
  font-size: 1.4em;
  margin-right: 10px;
  color: #353535;
}

.content-container p:hover {
  cursor: pointer;
  color: #C42623 !important;
  transition: color 0.4s ease;
}

.content-container p:active {
  color: #EC9493 !important;
  transition: color 0.1s ease;
}
