#element-contact:hover .contact-title h1:before {
  right: 0px;
  border-color: rgba(195,7,63,1) !important;
  margin-right: 15px;
  transition: margin-right 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
              right .3s ease,
              border-color .2s ease-in;
}


.contact-title h1:before {
  content: '';
  position: relative;
  border-color: rgba(195,7,63,0) !important;
  right: 35px;
  border-left: 20px solid;
  margin-right: -20px;
  transition: margin-right 0.3s ease-out,
              right .1s ease-out,
              border-color .1s ease;
}


.contact {
  padding: 5% 0;
}

.contact p, .contact a {
  font-size: 1.4em !important;
  font-weight: 200;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.resume-github-holder {
  margin-top: 5px;
}

.contact p {
  display: block;
}

#github, #portfolio {
  display: inline-block;
}

#github:active, #portfolio:active {
  color: #EC9493;
  transition: color 0.1s ease;
}

#portfolio:hover, #github:hover {
  color: #C3073F;
  transition: color 0.3s ease;
  cursor: pointer;
}

.link {
  font-weight: 200;
  transition: color 0.2s ease;
}

.link:hover {
  color: #C3073F;
  transition: color 0.3s ease;
}
