#element-projects:hover .projects-title h1:before {
  right: 0px;
  border-color: rgba(195,7,63,1) !important;
  margin-right: 15px;
  transition: margin-right 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
              right .3s ease,
              border-color .2s ease-in;
}

.projects-title h1:before {
  content: '';
  position: relative;
  border-color: rgba(195,7,63,0) !important;
  right: 35px;
  border-left: 20px solid;
  margin-right: -20px;
  transition: margin-right 0.3s ease-out,
              right .1s ease-out,
              border-color .1s ease;
}

.projects {
  padding: 5% 0;
}

.content-tech {
  font-weight: 200;
}

.content-info {
  font-weight: 200;
}

.project-link-holder {
  margin-top: 5px;
}

.project-link-holder p {
  margin: 0;
}

.link {
  transition: color 0.2s ease;
}

.link:hover {
  color: #C3073F;
  transition: color 0.3s ease;
}
