html, body, #root {
  height: 100%;
}

body {
  background-color: #1A1A1D;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, p, a {
  color: #FFFFFF;
  user-select: none;
  font-family: 'Raleway';
}

h1 {
  font-size: 6em;
  margin: 0;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 1.4em;
  margin: 0;
  transition: color 0.2s ease;
}

a {
  font-weight: 400;
  margin: 0;
  transition: color 0.2s ease;
  text-decoration: none !important;
}

a:hover {
  cursor: pointer;
  color: #C3073F;
  transition: color 0.4s ease;
}

a:active {
  color: #EC9493;
  transition: color 0.1s ease;
}

.element-padding {
  padding: 0 19.098% 0 19.098%;
}

.border {
  display:table-cell;
  empty-cells:hide;
  margin: 3px 8px;
  border-left: 2px solid #C3073F;
}

.arrow-holder, .arrow-holder-bottom {
  font-size: 2em;
}

/*--MEDIA QUERIES--*/

@media (max-width : 768px) {
  .element-padding {
    padding: 0 15% 0 15%;
  }

  .content-container-nav, .content-container, .skills-container{
    flex-direction: column;
  }

  .arrow-holder, .arrow-holder-bottom {
    display: none;
  }

  h1 {
    font-size: 3.5em;
  }

  p, a {
    font-size: 1.2em;
  }

  .home:before {
    content: none !important;
    position: relative;
    right: 0 !important;
    border: none !important;
    margin-right: 0 !important;
  }

  .project-link-holder, .code-link-holder, .resume-github-holder {
    flex-direction: column;
  }

  .border {
    display: none;
  }
}
