html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #353535;
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 1.3em;
  color: #353535;
  margin: 0;
}

/*.textBackground {
  background-color: #fae16c;
  padding: 0 15px 0 15px;
}

.textBackgroundAlt {
  background-color: #fdeea6;
  padding: 0 15px 0 15px;
}

.textBackgroundAlt p {
  color: #b5aa75;
}*/
